.bgc {
  background-color: #3366ff;
}
.mat-form-field-wrapper {
  padding-bottom: -0.65625em;
}
@import "global";

.component--dialog-box__custom-toolbar {
  &.mat-toolbar {
    height: 27px;
    background-color: #3366ff;
    padding: 0 0 0 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 550;
    .example-spacer {
      flex: 1 1 auto;
    }
  }
}
//For ratings:
.cont {
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 0px 0;
  color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

div.stars {
  width: 268px;
  display: list-item;
}

// Slider with Image

.product {
  padding: 0px 0;
}

.slider-main {
  position: absolute;
}
.item {
  display: inline-block;
  width: 707px;
  position: relative;
  margin: 0 1px;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bolder;
}
.prev {
  position: absolute;
  left: 19px;
  top: 54%;
  transform: translate(-50%, -50%);
  height: 38px;
  width: 23px;
}
.hei {
  min-height: 10px;
  max-height: 200px;
}
.next {
  position: absolute;
  right: 1px;
  top: 52%;
  transform: translate(-50%, -50%);
  height: 38px;
  width: 23px;
}
.image {
  height: 75px;
  width: 75px;
}
.image_2 {
  height: 75px;
  width: 75px;
}
