<!--Overall-->
<div>
  <!--Simple text-->
  <div class="text-justify">
    <span class="primary-heading"
      >Gain real world industry exposure outside your classroom:</span
    >
  </div>
  <div class="space-y-2 gt-md:mt-1">
    <div class="text-justify">
      <span class="ml-10 para">
        A typical student generates 10 to 15 kgs of waste paper in a year. An
        average household generates about 30 kgs of waste papers, 5-10 kgs of
        used clothes and 3 kgs of Rigid Plastic Waste per year.
      </span>
    </div>
    <div class="space-y-0 text-justify">
      <span class="ml-10 para">
        We <span class="para-primary">www.get</span
        ><span class="para-red">WOW</span
        ><span class="para-primary">.education</span>
      </span>

      <span class="para">
        have initiated a WOW (Well Being of Waste) Program whereby participating
        institutions can engage their students in out of classroom learning
        experience through Industrial Tours. Industrial tours provide students
        with a hands-on learning experience, allowing them to see real-world
        applications of the concepts they are learning in the classroom. These
        tours offer students the opportunity to meet and interact with
        industry/service sector professionals, providing them with valuable
        networking and mentorship opportunities. Visiting different types of
        industrial facilities and seeing various production processes can
        broaden students' understanding of different industries and potential
        career paths. Through the WOW (Wellbeing of Waste) Program,
        participating institutions can engage their students in out-of-classroom
        learning experiences by utilizing any of several manufacturing units or
        service sector companies that are registered with getWOW.biz. If a
        student is able to collect over 10 kgs of acceptable waste, he or she is
        eligible for a WOW Industrial tour ticket.
      </span>
    </div>
    <div class="space-y-0 text-justify">
      <span class="ml-10 para">
        WOW, Volunteer - An authorized adult staff employed by the educational
        institution should accompany every 10 students to monitor their
        activities and the safety of the students throughout their Industrial
        tour trip and the entry for such personnel is free.
      </span>
    </div>
  </div>

  <!--Second-->
  <div class="space-y-1">
    <div class="text-justify">
      <span class="primary-heading"
        >How to participate in Industrial Tour?</span
      >
    </div>

    <div class="text-justify">
      <span class="primary-heading">STEP 1:</span>
      <span class="para-bold"> Collect </span>
      <span class="primary-heading"> acceptable waste </span>
      <span class="para-bold">
        through the waste collection app and verify collection value credited to
        WOW Wallet
      </span>
    </div>

    <div class="text-justify">
      <span class="primary-heading">STEP 2:</span>
      <span class="para-bold">
        Upload the Industrial Tous participation Consent and Waiver FORM, signed
        by the legal guardian/parent and approved by the WOW administrator.
      </span>
    </div>

    <div class="text-justify">
      <span class="primary-heading">STEP 3:</span>
      <span class="para-bold">
        Select any Industrial Tour Site listed on the map and purchase WOW
        tickets by using the WOW Coins balance in WOW Wallet
      </span>
    </div>

    <div class="text-justify">
      <span class="primary-heading">STEP 4:</span>
      <span class="para-bold">
        Schedule a visit at a convenient date, get confirmation from the
        Industrial Tour company and proceed with the Tour on the scheduled date.
      </span>
    </div>
  </div>
</div>

<!--iframe testing-->
<!-- <div class="py-1 flex flex-wrap xs:justify-center justify-start gap-2">
  <div class="">
    <button
      class="primary-button xs:text-[12px]"
      mat-raised-button
      (click)="resourcescomments(1, 4, 221, 102)"
    >
      Comments - Resouces
    </button>
  </div>

  <div class="">
    <button
      class="primary-button xs:text-[12px]"
      mat-raised-button
      (click)="resourcesglobal(1)"
    >
      Global Comments - Resources
    </button>
  </div>

  <div class="">
    <button
      class="primary-button xs:text-[12px]"
      mat-raised-button
      (click)="flashglobal(10)"
    >
      Global Comments - Flashcard
    </button>
  </div>
</div> -->
